header {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 90px;
  right: 90px;
  padding: 10px 50px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include flexBox();
  justify-content: space-between;
  nav {
    ul{
      @include flexBox();
      column-gap: 50px;
      a{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: $secondary-color;
        &:hover{
          color: $primary-color;
        }
      }
      .mainListElement{
        color: $primary-color;
      }
    }
   
  }
}
