*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

}

.container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg,pink,blueviolet,blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.inp-div,.box,.bottom{
  width: 450px;
  
}

.inp-div{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#inp{
  width: 350px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  font-style: italic;
  padding-left: 15px;
}

#btn{
  width: 80px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: lime;
  font-size: 20px;
  color: white;
}

.box{
  background-color: white;
  height: 450px;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

li{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 5px;
  background-color: violet;
}
#li-btn{
  width: 10%;
  height: 90%;
  background-color: red;
  border: 0;
  color: white;
  border-radius: 5px;
}

.bottom{
  background-color: white;
  height: auto;
  text-align: right;
  padding: 5px;
}

#del{
  width: 100px;
  height: 40px;
  background-color: red;
  font-size: 22px;
  color: white;
  border: 0;
  border-radius: 5px;
}