@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

@mixin flexBoxColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin background-image {
    background-image: url(#{$image-path});
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
  }
  