@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

@mixin flexBoxColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  