//* COLOR
$primary-color: #ffba00;
$secondary-color: #222222;
$text-color: #777777;
//* FONT
$base-font-size: 14px;
$base-line-height: 1.5;
$base-font-family: 'Poppins', sans-serif;
// * SCREEN MODE
$small-screen: 768px;
$medium-screen: 991px;
$large-screen: 1400px;

