#CATEGORY{
    .categorySection{
        @include flexBox();
        gap: 0;
        .categoryLeft{
            @include flexBoxColumn();
            height: max-content;
            .categoryLeftTop{
                @include flexBox();
                img{
                    height: 190px;
                }                
            }
                .categoryLeftTopFirstImage{
                    padding: 0px 10px;
                    @include flexBoxColumn();
                    row-gap: 10px;
                    &:hover{
                        
                        cursor: pointer;
                    }
                }
                .categoryLeftTopSecondImage{
                    padding: 0px 10px;
                    @include flexBoxColumn();
                    row-gap: 10px;
                }
            }
            .categoryLeftBottom{
                @include flexBox();
                img{height: 190px}
                .categoryLeftBottomFirstImage{
                    padding: 0px 10px;
                    @include flexBoxColumn();
                    row-gap: 10px;
                }
                .categoryLeftBottomSecondImage{
                    padding: 0px 10px;
                    @include flexBoxColumn();
                    row-gap: 10px;
                }
            }
        }
        .categoryRight{
            align-self: flex-start;
            padding: 0px 10px;
            @include flexBoxColumn();
            row-gap: 10px;
            img{height: 420px}
        }
    }
